.containerTabela
  width: 858px
  height: 400px
  background-color: #434348
  margin-right: auto
  margin-left: auto

.containerTabela h1
  text-align: center
  margin: 0
  background-color: green

.containerTabela tr

.containerTabela th 
  border: 2px solid black
  padding: 5px
  border-radius: 3px
  font-size: 18px

.containerTabela td
  border: 2px solid black
  padding: 5px
  text-align: center
  color: black

.containerTabela .lineOne
  background-color: #0070c0

.containerTabela .lineTwo
  background-color: #bdd7ee

.containerTabela .lineThree :nth-child(1)
  background-color: #9900ff

.containerTabela .lineThree :nth-child(2)  
  background-color: #bf9000

.containerTabela .lineThree :nth-child(3)
  background-color: #808080

.containerTabela .lineThree :nth-child(4)
  background-color: #ccff66

.containerTabela .lineThree :nth-child(5)
  background-color: #ff0000

.containerTabela .lineThree :nth-child(6)
  background-color: #573333

.containerTabela .lineThree :nth-child(7)
  background-color: #ccff66

.containerTabela .lineFour :nth-child(1)
  background-color: #ffff00

.containerTabela .lineFour :nth-child(2)
  background-color: #31f343